<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Add this to <head> -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>

<body class="card">
    <!-- item template -->
    <script type="text/x-template" id="item-template">

        <li  @click.stop="info(model.remarks)">
    <div  :class="{ 'text-primary' : isFolder}" @click="toggle" >
         <label>  <span>{{ isCompleted ? '✓ ' : '☐ '  }}  </span>
            <span :class="{ 'text-success': model.isCompleted }">{{ model.title }}</span>
        <span v-if="isFolder">[{{ open ? '-' : '+' }}]</span></label>
    </div>
    <transition name="fade">
    <ul v-show="open" v-if="isFolder">
        <item
        class="item"
        v-for="(model, index) in model.subEventList"
        :key="index"
        :model="model">
    </item>
    
    </ul></transition>
    </li>
</script>

    <div id="demo">
        <header class="">
            <!-- As a heading -->
            <nav class="navbar navbar-dark bg-dark">
                <span>
                    <div class="navbar-nav navbar-item mr-auto text-secondary">
                        To Do Pro 
                    </div>
                </span>
                <span class="navbar-item mb-0 mx-auto h2 text-light">
                    {{author}}的待办事项分享页面
                </span>
                <span>
                    <div class="navbar-item ml-auto text-secondary">
                        v1.2.2
                    </div>
                </span>
            </nav>

        </header>

        <div class="card-body bg-light">
            <div class="row">
                <div class="col-4 container sidebar bg-light card">
                    <div class="col-12">

                        <ul>
                            <li class="col-12 btn btn-secondary" v-bind:class="{ 'btn-raised' : isActive == index }"
                                v-for="(item, index) in myData" v-on:click="select(item,index)">
                                {{item.title}}
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-8 container content in-center card">


                    <div class="col-10 in-center" style="margin: 0 auto;">
                        <ul class="list-group">
                            <item class="item" :model="treeData">
                            </item>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <footer class=" bg-dark  fake-footer">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                    
                    </div>

                </div>
                
            </div>
      
        </footer>
        <footer class="card bg-dark text-light fixed-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <!-- <transition name="fade"> -->
                        {{ remark.value ? '' : '请选中一个活动来查看具体信息' }} {{ remark.value }}
                        <!-- </transition> -->
                    </div>

                </div>
                
            </div>
      
        </footer>
    </div>

    

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        });
    </script>
    <script>
        user = "USERUSER"
    </script>
    <script src="/script.js"></script>

</body>

</html>