*{
    font-size:20px;
    line-height: 3ex;
}
body {
    font-family: Menlo, Consolas, monospace;
    color: #444;
}
header{
    height: 10vh;
}
header span{
    text-align: center;
    /* margin: 0 auto; */

    /* border-bottom: 1px solid black; */
    /* margin-bottom: 20px; */
}
nav{
    height:100%;
}
.item {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

ul {
    padding-left: 1em;
    /* line-height: 1.5em; */
    list-style-type: dot;
}
.sidebar li{
    list-style:none;
    text-align: center;
    overflow: hidden;
}
.sidebar{
    border-right: 1px solid black;
    height: 60vh;
    overflow: auto;
}
.content{
    /* text-align: center; */
    overflow: auto;
    /* padding: 0 400px; */
}
.in-center ul{
    margin: 0 auto !important;
    list-style:none;
}

.fake-footer{
    height:25vh;
    width:100%;
}
footer{
    /* margin-top:20px; */
    height:25vh;
    width: 100%;
    /* border-top:black 1px solid; */
    padding: 50px;
    text-align: center;
   
}
.fade-enter-active, .fade-leave-active {
transition: opacity .5s;
}   
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
 opacity: 0;
}

